{% extends "users/layout.htm" %}

{% block body %}

    <div id="indexBox">
        <div id="indexBoxForm">
            <h1 class="gradientText">Welcome, {{ request.user.first_name }}</h1>

            <ul>
                <li class="gradientText">Username: {{ request.user.username }}</li>
                <li class="gradientText">Email: {{ request.user.email }}</li>
            </ul>

            <div class="buttonContainer">
                <a href="{% url 'logout' %}"><button class="gradientBtn">Log out</button></a>
            </div>
            
        </div>
        

    </div>
    
{% endblock %}