{% extends "users/layout.htm" %}

{% block body %}

    <div class="box">
        <form action="{% url 'login' %}" method="post" autocomplete="off">
            <h2>Sign in</h2>
            {% csrf_token %}
            <div class="inputBox">
                <input type="text" name="username" required="requierd">
                <span>Userame</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" name="password" required="requierd">
                <span>Password</span>
                <i></i>
            </div>
            <div class="links">
                <a href="">{{ message }}</a>
                <a href="{% url 'signup' %}">Signup</a>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

{% endblock %}